<?php
require_once(APP_ROOT_DIR . '/{MODULE}/service/_{ActionName}{MODULE}Srv.php');

/**
 * Adds a {MODULE} - custom code
 */
class {ActionName}{MODULE}Srv extends _{ActionName}{MODULE}Srv {
}
?>
